cuisine.vtl

<h3>Here are all the the restaurants for this cuisine:</h3>

#if ($restaurants)
<ul>
  #foreach($restaurant in $restaurants)
   <li><a href="/restaurants/$restaurant.getId()">$restaurant.getName()</a></li>
  #end
</ul>
  #else
  <h3>There are no restaurants for this cuisine, want to <a href="/cuisines/$cuisine.getId()/restaurants/new">add one?</a></h3>
#end

<a href="/cuisines/$cuisine.getId()/restaurants/new">Add a new restaurant</a>
<a href="/">Return to Main Page</a>
