cuisine-restaurant-form.vtl

<h1>Add a Restaurant to $cuisine.getType()</h1>

<form action="/restaurants" method="post">

  <input id="cuisineId" type="hidden" name="cuisineId" value="$cuisine.getId()">

  <div class="form-group">
    <label for="name">Restaurant:</label>
    <input id="name" type="text" name="name" class="form-control">
  </div>

  <button type="submit" class="btn btn-success" >Add Restaurant</button>
</form>
