<h1>Add a Cuisine:</h1>

<form action="/cuisines" method="post">
  <label for="type">Cuisine Type:</label>
  <input id="type" name="type" type="text">
  <button type="submit" class="btn btn-success">Add Cuisine</button>
</form>
