<p>Add a new restaurant:</p>

<form action="/restaurants" method="post">
  <label for="name">Restaurant Name</label>
  <input type="text" name="name" id="name">

  <button type="submit" class="btn btn-default">Add Restaurant</button>
</form>
