<h1>All Restaurants</h1>

<ul>
  #foreach ($restaurant in $restaurants)
    <li><a href="/restaurants/$restaurant.getId()">$restaurant.getName()</a></li>
  #end
</ul>

<a href="/restaurants/new">Add New Restaurants</a>
